*{
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    position: fixed;
    width: 100%;
    height: 90px;
    padding: 0;
    margin: 0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.089);
    z-index: 999;
}
.logo{
    width: 100px;
    height: 80px;
    border-radius: 50%;
}
.navLink{
    line-height: 25px;
    font-size: 16px;
    color: rgb(92, 78, 78);
    margin-left: 50px;
    border-radius: 10px;
    transition: 0.5s;
}
.navLink:hover{
    transform:scale(1.1);
}
.active{
    font-size: 18px;
    color: black;
}
.logoName{
    font-family:cursive;
    font-size: 25px;
    color: rgb(15, 76, 138);
}

