.section2{
    padding: 70px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;
}
.section2Images{
    border: 1px solid white;
    height: 500px;
}
.section2Box{
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.266);
    cursor: pointer;
    transition: 0.5s;
    
}
.section2Box:hover{
    transform:translateY(-6px)
}
